
section{
    position: fixed;
    width: 100%;
    height: 100%;
    border-style: groove;
}
.c-Divform{
    
    display:flex;
    flex-direction: row;
    margin-left: 15.25%;
    position: fixed;
    width: 80%;
    height: 26px;
    
}
.c-inp{
    margin-left: 10%;
    position: fixed;
    width: 45%;
    height: 20px;
}
.c-bt{
    margin-top: 0%;
    margin-left: 55%;
    width: 6%;
    height: 26px;
    position: fixed;
}
menu{
    margin-top: 0%;
    width: 10%;
    position: fixed;
    height: 1000%;
    border-top-right-radius: 10px;
    border-style:groove
}
.c-div1{
    display:flex;
    flex-direction: column;
    margin-top: 30%;

}
button{
    margin-top: 25%;
    width: 100%;
    height: 20px;
}
.c-div2{
    margin-top: 100px;
}
ul{

    display: flex;
    margin-left: 15%;
    flex-direction: column;
    position: fixed;
    width: 80%;
    height: 100%;

}